.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
Package.resolved
Tests/LinuxMain.swift
Tests/VCDependencyContainerTests/XCTestManifests.swift
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
